<nav class="main-menu">
  <ul>
    @if (estaAutenticado()=="") {
    <li>
      <!-- Botón que abre el menú -->
      <button mat-button [matMenuTriggerFor]="userMenu">Usuario</button>
      <!-- Menú desplegable -->
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/login">Login</button>
        <button mat-menu-item routerLink="/registro">Registro</button>
      </mat-menu>
    </li>

    } @else {
    <li>
      <!-- Botón que abre el menú -->
      <button mat-button [matMenuTriggerFor]="userMenu">Usuario</button>
      <!-- Menú desplegable -->
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/modificar">Modificar</button>
        <button mat-menu-item routerLink="/acciones">Acciones</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </li>
    }

    <li><button mat-button routerLink="/peliculas" routerLinkActive="active">Películas</button></li>
    <li><button mat-button routerLink="/opiniones" routerLinkActive="active">Opiniones</button></li>
    @if(esAdmin()=="ADMIN"){
      <li><button mat-button routerLink="/crearPelicula" routerLinkActive="active">Crear película</button></li>
    }
    @if(esAdmin()=="ADMIN"){
      <li><button mat-button routerLink="/estadisticas" routerLinkActive="active">Dashboard</button></li>
    }
  </ul>
  @if (estaAutenticado()) {
  <div class="avatar">
    <img 
      [src]="'http://localhost:3000/uploads/' + foto()"
      (error)="onImageError($event)"
      alt="Imagen"
    />
  </div>
}

  

</nav>