.sorter {
    margin-bottom: 1rem;

    select {
        margin-left: 0.5rem;
    }
}

.opiniones-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.opinion-card {
    flex: 1 1 280px;
}